<div class="social-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4"> </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <ul class="inline">
                        <li><i class="fa fa-envelope"></i> &nbsp;gamasp.engenharia@gmail.com</li>
                        <li>&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i> &nbsp;(11) 9.4743-0418</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 text-right">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/gm.engcivil"><i class="fa fa-facebook"></i> </a></li>
                        <li><a href="https://instagram.com/gm.engcivil?igshid=1wcvymrxczf57"><i class="fa fa-instagram"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>